
<h5 class="h5 text-center">Получение данных с сервера</h5>
<div class="progress mx-auto m-5 hidden">
    <div class="progress-bar progress-bar-striped progress-bar-animated">Загрузка...</div>
</div>

<div class="section mb-3 text-center">

</div>

